#main-header img{
    width: 100%;
    height: 100%;
}

.bg-black {
    background-color: black;
    color: white;
}

#main-header .port-item{
    width: 25%;
    height: 100%;
}

#main-header .port-item:hover{
    opacity: 0.8;
    cursor: pointer;

}


@media(min-width : 1119px){
    .port-item{
        padding: 3em !important;
    }
}

body{
    background-color: #333;   
}